<!doctype html>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<title>About Us</title>
<!-- 響應式網站 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- AWESOME連結 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- AOS連結 -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<!-- Boostrap 導入程式 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>

<!-- jQuery連結 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link rel="stylesheet" href="../stylesheets/aboutUs.css" type="text/css"
	media="screen" />
<style type="text/css">
a {
	color: black;
	text-decoration: none;
}
</style>
<!-- 往上置頂TOP -->
<script>
        $(document).ready(function () {
            $(".scroll-top").on('click', function () {
                $('html,body').scrollTop(0);
            });
            $(window).on('scroll', function () {
                console.log($(this).scrollTop());
                if ($(this).scrollTop() > 200) {
                    $('.scroll-top').fadeIn("fast");
                } else {
                    $('.scroll-top').stop().fadeOut("fast");
                }
            });
        });
    </script>

<!-- set focus on input field or textarea inside a Bootstrap modal on activation -->
<!-- 會員登入 -->
<script>
        $(document).ready(function () {
            $("#loginModal").on('shown.bs.modal', function () {
                $(this).find('input[type="text-account"]').focus();
            });
        });
    </script>
<!-- 註冊會員 -->
<script>
        $(document).ready(function () {
            $("#registerMember").on('shown.bs.modal', function () {
                $(this).find('input[type="text-name"]').focus();
            });
        });
    </script>

</head>

<body>
	<div class="containerAll">
		<div class="header">
			<div class="logo">
				<a href="/home"><img src="../images/logo.png"></a>
				<div class="logoWord">
					<div class="logoWordChinese">日本料理 | 壽司</div>
					<br />
					<div class="logoWordEnglish">FUJI</div>
				</div>
			</div>
			<div class="item">
				<div class="nav">
					<div class="aboutUs">
						<a href="/home/aboutus" style="color: red;">關於我們</a>
					</div>
				</div>
				<div class="nav">
					<div class="Menu">
						<a href="/profile/shopping">水產日料</a>
					</div>
				</div>
				<div class="nav">
					<div class="Member">
						<a href="/profile/memberList">會員專區</a>
					</div>
				</div>
				<div class="nav">
					<div class="Contact">
						<a href="/home/contactus">聯絡我們</a>
					</div>
				</div>
				<div class="nav">
					<div class="shoppingCart"></div>
					<div class="container pt-5">
						<a class="position-relative" href="#"> <i
							class="fas fa-shopping-cart fa-lg"></i> <span
							class="cartQuantity bg-info text-white">0</span>
						</a>
					</div>
				</div>
				<div class="login" onclick="showLoginModal()"
					sec:authorize="isAnonymous()">
					<i class="fas fa-sign-in-alt"></i>
				</div>
				<div
					onclick="javascript:window.location.href='http://localhost:8081/logout'"
					sec:authorize="isAuthenticated()" class="logout">
					<i class="fas fa-sign-out-alt"></i>
				</div>
			</div>
		</div>

		<div class="all">
			<div class="body">
				<div class="wrapper">
					<div class="row">
						<div class="image-section">
							<img src="../images/aboutUs.jpg">
						</div>
						<div class="content">
							<h1>About Us</h1>
							<h2>Our FUJI</h2>
							<p>
								日本壽司創辦人社長小時候家裡是蔬果店，除蔬果外還賣有許多東西，某日社長被要求要細心地擦拭芥草(日本用來祭拜祖先或是神明的一種植物)，與祖母兩人花費了半天的時間擦拭幾萬枚的芥草，對於幼年的社長來說十分痛苦，經過了一個小時後，就開始偷懶了，看到這個樣子的社長，平常很慈祥的祖母便很嚴厲地詢問社長「你是從哪裡出生的呢?
								因為有你的父親和母親，還有祖先們的存在，才會有現在的你不是嗎?這個芥草是客人們為了感謝祖先們的象徵，賣給客人用沾有泥巴的芥草去供養祖先，難道不會對客人感到抱歉嗎?」</p>
							<p>社長認為這是日本人的良心，但這個良心在現在的世道已經漸漸消失了，許多的公司也是這樣，只要不觸法就覺得做什麼都可以。</p>
							<p>社長認為日本本來的文化是對於看不見的東西，也十分重視，因此希望透過日本食物文化代表的壽司，再次的建立那美好的日本，並且向世界傳遞。</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="footer">
			<div class="footerItem">
				<div class="nav">
					<a href="/home/aboutus">關於我們</a>
				</div>
				<div class="nav">
					<a href="/home/contactus">聯絡我們</a>
				</div>
				<div class="nav">隱私權政策</div>
			</div>
			<div class="footerOpen">
				<div class="footerOpenTime">營業時間 11:30 ~ 14:30</div>
				<br />
				<div class="footerOpenLastTime">(最後點餐時間14:00)</div>
			</div>
			<div class="footerCopyRight">
				<div class="footerCopy">Copyright © 2022 FUJI, Inc.</div>
				<br />
				<div class="footerRight">All Rights Reserved.</div>
			</div>
			<div class="footerMountain">
				<img src="../images/footerMountain3.png">
			</div>
		</div>
		<div class="scroll-top">
			<i class="fa fa-angle-up"></i>
		</div>
	</div>

	<!-- 圖片自動產生動畫 -->
	<script>
        // AOS.init({
        //     duration: 3000,
        // });
        function showLoginModal() {
            var myModal = new bootstrap.Modal(document.getElementById('loginModal'))
            myModal.show()
        }

    </script>


	<!-- 會員登入 -->
	<div class="modal fade" id="loginModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Header -->
				<div class="modal-header">
					<h3>會員登入</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Body -->
				<div class="modal-body">
					<!-- 登入表單 -->
					<form method="post" th:action="@{/login}">
						<!-- user name -->
						<div th:if="${param.error}" class="alert alert-warning"
							role="alert">無效的帳號或是密碼</div>

						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">帳號</label>
							<input type="username" class="form-control" name="username"
								id="formGroupExampleInput" placeholder="請輸入帳號">
						</div>

						<!-- password -->
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">密碼</label>
							<input type="password" class="form-control" name="password"
								id="formGroupExampleInput2" placeholder="請輸入密碼">
						</div>

						<!-- checkbox -->
						<div class="form-group-checkbox">
							<input type="checkbox" class="remember" name="remember-me"
								value="true">記住我的密碼
						</div>

						<div>
							<!-- 送出按鈕 -->
							<button type="submit" class="btn btn-secondary">登入</button>
							<!-- <button type="button" ><img src="images/googlelogo.png"></button> -->
						</div>
						<div style="margin: 5px 10px 15px 20px"></div>
						<div>
							<a th:href="@{/oauth2/authorization/google}"><img
								src="images/googlelogo.png" width="200" height="50"
								style="display: block; margin: auto; border-radius: 10px;"></a>
						</div>
						<!-- <h5>
							<a th:href="@{/oauth2/authorization/google}">Google登入</a>
						</h5> -->
					</form>
				</div>

				<!-- 註冊會員 -->
				<div class="modal fade" id="registerMember" aria-hidden="true"
					aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h4>
									會員註冊
									</h3>
									<!-- <h5 class="modal-title" id="exampleModalToggleLabel2">會員註冊</h5> -->
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form>
									<!-- user name -->
									<div class="mb-3">
										<label for="formGroupExampleInput" class="form-label">姓名</label>
										<input type="text-name" class="form-control"
											id="formGroupExampleInput" placeholder="請輸入姓名">
									</div>

									<!-- account -->
									<div class="mb-3">
										<label for="formGroupExampleInput2" class="form-label">帳號</label>
										<input type="text-account" class="form-control"
											id="formGroupExampleInput2" placeholder="請輸入帳號">
									</div>

									<!-- password -->
									<div class="mb-3">
										<label for="formGroupExampleInput3" class="form-label">密碼</label>
										<input type="text-password" class="form-control"
											id="formGroupExampleInput2" placeholder="請輸入密碼" autofocus>
									</div>

									<!-- eMail -->
									<div class="mb-3">
										<label for="formGroupExampleInput4" class="form-label">電子郵件</label>
										<input type="text-email" class="form-control"
											id="formGroupExampleInput2" placeholder="請輸入郵件">
									</div>

									<!--phone -->
									<div class="mb-3">
										<label for="formGroupExampleInput5" class="form-label">手機號碼</label>
										<input type="text-phone" class="form-control"
											id="formGroupExampleInput2" placeholder="請輸入手機號碼">
									</div>

									<!-- checkbox -->
									<!-- <div class="form-group-checkbox">
                            <input type="checkbox" class="remember">記住我的密碼
                        </div> -->

									<!-- 送出按鈕 -->
									<button type="button" class="btn btn-secondary">加入會員</button>
								</form>
							</div>
							<!-- <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back to first</button>
                </div> -->
						</div>
					</div>
				</div>
</body>

</html>