<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>種類管理</title>
    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- AWESOME連結 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- AOS連結 -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- Boostrap 導入程式 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- jQuery連結 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet" href="../../../stylesheets/homepageCategory.css" type="text/css" media="screen" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="table">
            <div class="Pic">
				<a href="/home" title="回首頁"><img src="../../images/logo.png" style="width:125px"></a>
			</div>
                <div class="title">後台系統</div>
                <div class="category">
                    <div class="employee"><a href="/backend/userslist/page/1">顧客/員工管理</a></div>
                    <div class="product"><a href="/backend/listProducts/page/1">產品/種類管理</a></div>
                    <div class="order"><a href="/backend/ordersList/page/1">處理訂單</a></div>
                    <div class="message"><a href="/backend/messagelist/page/1">聯絡資訊管理</a></div>
                    <div class="backend"><a href="/backend/viewSumPage">後台首頁</a></div>
                </div>
                <div class="logout">
                    <a href="/logout" class="btn btn-info">登出</a>
                </div>
            </div>
            <div class="content">
            <div class="detail">種類管理</div>
				<hr/>
					<div class="button2">
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
						data-bs-target="#exampleModal">增加種類</button>
						</div>
						
                <table>
                    <thead>
                        <!--建立表頭 -->
                        <tr>
						<th>編號</th>
						<th>種類名稱</th>
						<th>修改</th>
						<th>刪除</th>
						</tr>
               	    </thead>
                    <tbody >
                        <!-- 建立表格本體 -->
                   <tr th:each="category : ${categorylist}">
					<td th:text="${category.categoryid}">編號</td>
					<td th:text="${category.categoryname}">種類名稱</td>
					<td><button type="button" class="btn btn-success" data-bs-toggle="modal" th:data-bs-target="'#update'+${category.categoryid}" id="mymodel">
	 				 修改
					</button></td>
					<td><button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#delete'+${category.categoryid}" id="mymodel">
	 				 刪除
					</button></td>
				</tr>
                    </tbody>
                </table>
               <div class="home"><a href="#" class="btn btn-primary btn-sm" th:href="@{/listProducts/page/1}">回產品管理頁面</a></div>
                
            </div>
        </div>
    </div>
    
    
    <div class="modal fade updateProduct" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">增加種類</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form th:action=@{/createcategory} method="Post" >
					<div class="form group">
						<div class="modal-body">
						<table>
						<tr>
							<td>種類名稱:</td>
							<td><input type="text"
							id="categoryname" name="categoryname" required="required" placeholder="請輸入種類名稱"></td>
							
						</tr>
							
						</table>		
						</div>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">新增</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    
    
    <div th:each="category : ${categorylist}">
				<div class="modal fade updateProduct" th:id="'update'+${category.categoryid}" tabindex="-1"
						aria-labelledby="updateCategoryLabel" aria-hidden="true" >
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="updateCategoryLabel">修改種類</h4>
										
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<form th:action="@{/categorylist/update}"
										 method="post">
										<table>

											<tr>

												<td>編號:</td>
												<td><input type="text"
												th:value="${category.categoryid}" name="categoryid"	readonly="readonly"></td>
											</tr>
											<tr>
												<td>種類名稱:</td>
												<td><input type="text"
												th:value="${category.categoryname}" name="categoryname"	></td>
											</tr>

										</table>
							<div class="modal-footer">
										<button type="submit" class="btn btn-primary">確定</button>
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">取消</button>
								
							</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div th:each="category : ${categorylist}">
				<div class="modal fade deleteProduct" th:id="'delete'+${category.categoryid}" tabindex="-1"
						aria-labelledby="updateCategoryLabel" aria-hidden="true" >
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="updateCategoryLabel">刪除種類</h4>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<form th:action="@{'/categorylist/delete/'+${category.categoryid}}"
										th:object="${category}" method="post">
										

											<p>確定要刪除<span class="totalitems1">"[[${category.categoryname}]]"</span>這個種類嗎?</p>

										
							<div class="modal-footer">
										<button type="submit" class="btn btn-primary">刪除</button>
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">取消</button>
								
							</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
    
</body>


</html>