<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>FUJI</title>
</head>
<body style="margin: 0; padding: 0;">
	<table align="center" border="1" cellpadding="0" cellspacing="0"
		width="600px">
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0"
					width="600" style="border-collapse: collapse;">
					<tr>
						<td align="center" style="padding: 40px 0 30px 0;"></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 20px 30px 20px 30px">
							<h4 th:text="${name}+'你好 你已經成功下單了'">XXX你好 你已經成功下單了!</h4>
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td><span>訂單明細</span></td>
								</tr>
								<tr>
									<td style="padding: 10px;"></td>
								</tr>
								<tr
									style="font-size: 30px; color: rgb(5, 5, 5); background-color: rgb(171, 179, 180);">
									<td>商品</td>
									<td>數量</td>
									<td>價格</td>
								<tr>
									<td style="padding: 10px;"></td>
								</tr>
								<tr th:each="item:${cartItem}" style="font-size: 16px;">
									<td th:text="${item.products.productname}">壽司</td>
									<td th:text="'x'+${item.quantity}">X100</td>
									<td th:text="${item.SubTotal}">90000</td>
								</tr>
								<tr>
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
										<tr>
											<td style="padding: 20px;"></td>
										</tr>
										<td th:text="'訂單狀態:'+${status}" align="center"
											style="padding: 5px 0 3px 0">Status:<span>
												OPEN FOR JOINING</span></td>
										<td th:text="'訂單時間: '+${orderdate}" align="center"
											style="padding: 5px 0 3px 0">Date submitted: 28/08/2017
											<span>createDate</span>
										</td>
										<td th:text="'總金額: '+${total}" align="center"
											style="padding: 5px 0 3px 0">Date submitted: 28/08/2017</td>
									</table>
								</tr>
								<tr>
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td style="padding: 40px 0px 10px 0px">客訴電話:0984181850</td>
										</tr>
										<tr>
											<td style="padding: 5px 0px 5px 0px"><span></span>
											</td>
										</tr>
									</table>
								</tr>
								<tr>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>