<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<title>訂位管理</title>
<!-- 響應式網站 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- AWESOME連結 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- AOS連結 -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<!-- Boostrap 導入程式 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>

<!-- jQuery連結 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link rel="stylesheet" href="../../../stylesheets/homepageProduct.css"
	type="text/css" media="screen" />
<script type ="text/javascript">
function clearFilter(){
	window.location='/reservelist/page/1';
}
</script>	
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="table">
				<div class="Pic">
				<a href="/home" title="回首頁"><img src="../../../images/logo.png" style="width:125px"></a>
			</div>
                <div class="title">後台系統</div>
                <div class="category">
                    <div class="employee"><a href="/backend/userslist/page/1">顧客/員工管理</a></div>
                    <div class="product"><a href="/backend/listProducts/page/1">產品/種類管理</a></div>
                    <div class="order"><a href="/backend/ordersList/page/1">處理訂單</a></div>
                    <div class="reserve"><a href="/backend/reservelist/page/1" Style="color:#CD5C5C">訂位管理</a></div>
                    <div class="message"><a href="/backend/messagelist/page/1">聯絡資訊管理</a></div>
                    <div class="backend"><a href="/backend/viewSumPage">後台首頁</a></div>
                </div>
				<div class="logout">
					<button type="button" class="btn btn-info">登出</button>
				</div>
			</div>
			<div class="content">
				<div class="search">
					<nav class="navbar navbar-light bg-light">
						<form class="form-inline" th:action="@{/backend/reservelist/page/1}">
							<input type="text" name="keyword" th:value="${keyword}" required />
							<input type="submit" class="btn btn-primary btn-sm" value="搜尋">
							<input type="button" class="btn btn-secondary btn-sm" value="清除"
								onclick="clearFilter()">
						</form>
					</nav>
				</div>
				<table>
					<thead>
						<!--建立表頭 -->
						<tr>
							<th>訂位編號</th>
							<th>訂位姓名</th>
							<th>電話</th>
							<th>訂位月份</th>
							<th>訂位日期</th>
							<th>訂位時段</th>
							<th>人數</th>
							<th>修改訂位</th>
							<th>完成訂位</th>
							
						</tr>
					</thead>
					<tbody>
						<!-- 建立表格本體 -->
						<tr th:each="reserve : ${reservelist}">
							<td th:text="${reserve.reserveid}">reserveid</td>
							<td th:text="${reserve.reservename}">reservename</td>
							<td th:text="${reserve.phone}">phone</td>
							<td th:text="${reserve.birthmonth}">birthmonth</td>
							<td th:text="${reserve.birthdate}">birthdate</td>
							<td th:text="${reserve.period}">period</td>
							<td th:text="${reserve.total}">total</td>
							<td><button type="button" class="btn btn-success"
									data-bs-toggle="modal"
									th:data-bs-target="'#'+${reserve.reservename}">修改</button></td>

							<td><button type="button" class="btn btn-danger"
									data-bs-toggle="modal"
									th:data-bs-target="'#delete'+${reserve.reservename}">完成</button></td>
						</tr>
					</tbody>
				</table>
				<div>Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]</div>
					
				<div class="page">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<li class="page-item"><a class="page-link"
								th:if="${currentPage > 1}" th:href="@{/backend/reservelist/page/1}">回第一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage > 1}">回第一頁</span></li>


							<li class="page-item"><a class="page-link"
								th:if="${currentPage > 1}"
								th:href="@{'/backend/reservelist/page/' + ${currentPage - 1}+ ${keyword != null ? '?keyword=' + keyword :'' }}">前一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage > 1}">前一頁</span></li>


							<span th:each="i:${#numbers.sequence(1,totalPages)}"> <a
								class="page-link" th:if="${i!=currentPage}"
								th:href="@{'/backend/reservelist/page/'+ ${i} + ${keyword != null ? '?keyword=' + keyword :'' }}">[[${i}]]</a>
								<li class="page-item active" aria-current="page"><span
									class="page-link" th:unless="${i!=currentPage}">[[${i}]]</span>
							</li>
							</span>

							<li class="page-item"><a class="page-link"
								th:if="${currentPage < totalPages}"
								th:href="@{'/backend/reservelist/page/' + ${currentPage + 1}+ ${keyword != null ? '?keyword=' + keyword :'' }}">下一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage < totalPages}">下一頁</span></li>


							<li class="page-item"><a class="page-link"
								th:if="${currentPage < totalPages}"
								th:href="@{'/backend/reservelist/page/' + ${totalPages}+ ${keyword != null ? '?keyword=' + keyword :'' }}">最後一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage < totalPages}">最後一頁</span></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div th:each="reserve : ${reservelist}">
					<div class="modal fade" th:id="${reserve.reservename}" tabindex="-1"
						aria-labelledby="updateCategoryLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="updateCategoryLabel">修改訂位資料</h5>

									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<form th:action="@{/backend/reservelist/update}" method="post">
										<table>

											<tr>

												<td>編號:</td>
												<td><input type="text" th:value="${reserve.reserveid}"
													name="reserveid" readonly="readonly"></td>
											</tr>
											<tr>
												<td>帳號:</td>
												<td><input type="text" th:value="${reserve.reservename}"
													name="reservename"></td>
											</tr>
											<tr>

												<td>電話:</td>
												<td><input type="text" th:value="${reserve.phone}"
													name="phone"></td>
											</tr>
											<tr>
												<td>月份:</td>
												<td><input type="text" th:value="${reserve.birthmonth}"
													name="birthmonth"></td>
											</tr>
											<tr>

												<td>日期:</td>
												<td><input type="text" th:value="${reserve.birthdate}"
													name="birthdate"></td>
											</tr>
											<tr>
												<td>時段:</td>
												<td><input type="text" th:value="${reserve.period}"
													name="period"></td>
											</tr>
											<tr>
												<td>人數:</td>
												<td><input type="text" th:value="${reserve.total}"
													name="total"></td>
											</tr>
											
										</table>
										<div class="modal-footer">
											<button type="submit" class="btn btn-primary">更新</button>
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">取消</button>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
	<div th:each="reserve : ${reservelist}">
					<div class="modal fade" th:id="'delete'+${reserve.reservename}"
						tabindex="-1" aria-labelledby="updateCategoryLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="updateCategoryLabel">確認訂位</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<form th:action="@{'/backend/reservelist/delete/'+${reserve.reserveid}}"
										method="post">


										<p>請問已完成訂位嗎?</p>


										<div class="modal-footer">
											<button type="submit" class="btn btn-primary" >完成</button>
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">取消</button>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
</body>


</html>