<!DOCTYPE html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<title>產品管理</title>
<!-- 響應式網站 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- AWESOME連結 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- AOS連結 -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<!-- Boostrap 導入程式 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>

<!-- jQuery連結 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link rel="stylesheet" href="../../../stylesheets/homepageProduct.css"
	type="text/css" media="screen" />
<script type="text/javascript">
  function clearFilter(){
	window.location='/listProducts/page/1';
}
</script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="table">
				<div class="title">後台系統</div>
				<div class="category">
					<div class="employee">員工管理</div>
					<div class="product">產品管理</div>
					<div class="order">訂單紀錄</div>
				</div>
				<div class="logout">
					<button type="button" class="btn btn-info">登出</button>
				</div>
			</div>
			<div class="content">
				<div class="search">
					<nav class="navbar navbar-light bg-light">
						<form class="form-inline" th:action="@{/listProducts/page/1}">
							<input type="text" name="keyword" th:value="${keyword}" required />
							<input type="submit" class="btn btn-primary btn-sm" value="搜尋">
							<input type="button" class="btn btn-secondary btn-sm" value="清除"
								onclick="clearFilter()">
						</form>
					</nav>
				</div>
				<div class="button">
					<a href="#" th:href="@{/categorylist}"
						class="btn btn-outline-success">查看/新增類別</a>
					<button type="button" class="btn btn-outline-success"
						data-bs-toggle="modal" data-bs-target="#exampleModal">新增產品</button>
				</div>
				<table>
					<thead>
						<!--建立表頭 -->
						<tr>
							<th>產品編號</th>
							<th>產品名稱</th>
							<th>產品圖片</th>
							<th>產品價格</th>
							<th>產品種類</th>
							<th>更新</th>
							<th>修改圖片</th>
							<th>刪除</th>
						</tr>
					</thead>
					<tbody>
						<!-- 建立表格本體 -->
						<tr th:each="product : ${productlist}">
							<td scope="row" th:text="${product.pid}"></td>
							<td th:text="${product.productname}"></td>
							<td><img alt=""
								th:src="*{'data:image/jpeg;base64,'+{product.productimage}}"
								style="width: 100px;"></td>
							<td th:text="${product.productprice}"></td>
							<td th:each="category:${product.category}"
								th:text="${category.categoryname}"></td>
							<td><button type="button" class="btn btn-success"
									data-bs-toggle="modal"
									th:data-bs-target="'#'+${product.productname}">修改</button></td>
							<td><button type="button" class="btn btn-success"
									data-bs-toggle="modal"
									th:data-bs-target="'#change'+${product.productname}">修改圖片</button></td>
							<td><button type="button" class="btn btn-danger"
									data-bs-toggle="modal"
									th:data-bs-target="'#delete'+${product.productname}">刪除</button></td>
							
						</tr>
					</tbody>
				</table>
				<div class="totalitems">共<span class="totalitems1">[[${totalItems}]]</span>筆</div>
					
				<div class="page">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<li class="page-item"><a class="page-link"
								th:if="${currentPage > 1}" th:href="@{/listProducts/page/1}">回第一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage > 1}">回第一頁</span></li>


							<li class="page-item"><a class="page-link"
								th:if="${currentPage > 1}"
								th:href="@{'/listProducts/page/' + ${currentPage - 1}+ ${keyword != null ? '?keyword=' + keyword :'' }}">前一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage > 1}">前一頁</span></li>


							<span th:each="i:${#numbers.sequence(1,totalPages)}"> <a
								class="page-link" th:if="${i!=currentPage}"
								th:href="@{'/listProducts/page/'+ ${i} + ${keyword != null ? '?keyword=' + keyword :'' }}">[[${i}]]</a>
								<li class="page-item active" aria-current="page"><span
									class="page-link" th:unless="${i!=currentPage}">[[${i}]]</span>
							</li>
							</span>

							<li class="page-item"><a class="page-link"
								th:if="${currentPage < totalPages}"
								th:href="@{'/listProducts/page/' + ${currentPage + 1}+ ${keyword != null ? '?keyword=' + keyword :'' }}">下一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage < totalPages}">下一頁</span></li>


							<li class="page-item"><a class="page-link"
								th:if="${currentPage < totalPages}"
								th:href="@{'/listProducts/page/' + ${totalPages}+ ${keyword != null ? '?keyword=' + keyword :'' }}">最後一頁</a>
							</li>
							<li class="page-item disabled"><span class="page-link"
								th:unless="${currentPage < totalPages}">最後一頁</span></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div th:each="product : ${productlist}">
	<div class="modal fade updateProduct" th:id="${product.productname}"
		aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="updateProductLabel">修改產品資料</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:action="@{/listProducts/update}" method="post" >

						<table>

								<tr>

									<td>編號:</td>
									<td><input type="text" th:value="${product.pid}"
										 name="pid" readonly="readonly"></td>
								</tr>
								<tr>
									<td>產品名稱:</td>
									<td><input type="text" th:value="${product.productname}"
										name="productname"></td>
								</tr>
								<tr>

									<td>產品價格:</td>
									<td><input type="number"
										th:value="${product.productprice}" name="productprice"></td>
								</tr>
								<tr>
									<td>種類:</td>
									<td><select class="custom-select" name="category">
											<option
												th:selected="${category.categoryid == product.category.categoryid}"
												th:each="category : ${categoryList}"
												th:value="${category.categoryid}"
												th:text="${category.categoryname}">選取種類</option>
									</select></td>
								</tr>
								
								<input type="hidden" th:value="${product.productimage}"
										name="productimage">
									
								
								
							</table>
						<div class="modal-footer">
						<button type="submit" class="btn btn-primary">更新</button>
						<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">取消</button>

							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">增加產品</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form th:action=@{/add} method="Post" enctype="multipart/form-data">
					<div class="form group">
						<div class="modal-body">
						<table>
						<tr>
					<td>產品名稱:</td>
					<td><input type="text" name="productname"></td>
					
				</tr>
				<tr>
					<td>產品價格:</td>
					<td><input type="number" name="productprice"></td>
				</tr>
				<tr>
					<td>選擇種類:</td>
					<td><select  name="category">
									<option selected>請選擇種類</option>
									<option th:each="category : ${categoryList}" 
										th:value="${category.categoryid}"
										th:text="${category.categoryname}"></option>
						</select></td>
				</tr>
				<tr>
					<td>產品照片:</td>
					<td><input type="file" name="productimage"></td>
				</tr>
							
						</table>		
						</div>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">新增</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:each="product : ${productlist}">
					<div class="modal fade" th:id="'delete'+${product.productname}"
						tabindex="-1" aria-labelledby="updateCategoryLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="updateCategoryLabel">刪除產品</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<form th:action="@{'/listProducts/delete/'+ ${product.pid}}"
										method="post">


										<p>確定要刪除嗎?</p>


										<div class="modal-footer">
											<button type="submit" class="btn btn-primary">刪除</button>
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">取消</button>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
	<div th:each="product : ${productlist}">
	<div class="modal fade updateProduct" th:id="'change'+${product.productname}"
		aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="updateProductLabel">修改產品圖片</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:action="@{/listProducts/changeImage}" method="post" enctype="multipart/form-data">

						<table>

									<input type="hidden" th:value="${product.pid}"
										 name="pid" readonly="readonly">
								
								<tr>
									<td>產品圖片檔案:</td>
									<td><input type="file" th:value="${product.productimage}"
										name="productimage"></td>
								</tr>
							
								
							</table>
						<div class="modal-footer">
						<button type="submit" class="btn btn-primary">修改</button>
						<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">取消</button>

							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>


</html>