<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
</script>
</head>
<body>
	<div th:each="product:${productList}">
		<div th:text="${product.productname}"></div>
		<div th:text="${product.productprice}"></div>
		<form action="profile/addtocarts" method="post">
			<input type="hidden" name="pid" th:value="${product.pid}"> <input
				type="number" min="1" value="1" name="quantity">
			<button type="submit">Add to cart</button>
		</form>
	</div>
	<a href="profile/cartProduct">Cart</a>
</body>

</html>