<!--Template without cart 2022.04.05 Start-->
<div class="header">
    <div class="logo">
        <img src="images/logo.png">
        <div class="logoWord">
            <div class="logoWordChinese">
                日本料理 | 壽司
            </div>
            <br />
            <div class="logoWordEnglish">
                FUJI
            </div>
        </div>
    </div>
    <div class="item">
        <div class="nav">
            <div class="aboutUs">關於我們</div>
        </div>
        <div class="nav">
            <div class="Menu">水產日料</div>
        </div>
        <div class="nav">
            <div class="Member">會員專區</div>
        </div>
        <div class="nav">
            <div class="Contact">聯絡我們</div>
        </div>
        <div class="nav">
            <div class="shoppingCart">點餐</div>
        </div>
        <div class="login" onclick="showLoginModal()">
            <i class="fas fa-sign-in-alt"></i>
        </div>
        <div class="logout">
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </div>
</div>
<!--Template without cart 2022.04.05 End-->