@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");
body {
  margin: 0px;
  background-image: url("../images/homeBackground.jpg");
}

body .containerAll .header {
  width: 100%;
  height: 150px;
  background-image: url("../images/homeBackground.jpg");
  top: 0px;
  z-index: 1;
}

body .containerAll .header div {
  display: inline-block;
}

body .containerAll .header .logo {
  width: 50%;
}

body .containerAll .header .logo img {
  width: 20%;
  height:150px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

body .containerAll .header .logo .logoWord {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 45px;
  float: left;
  text-align: center;
}

body .containerAll .header .item {
  float: right;
  width: 50%;
  text-align: center;
}

body .containerAll .header .item .nav {
  width: 15%;
}

body .containerAll .header .item .nav .aboutUs, body .containerAll .header .item .nav .Menu, body .containerAll .header .item .nav .Member, body .containerAll .header .item .nav .Contact, body .containerAll .header .item .nav .shoppingCart {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 550;
  margin-top: 50px;
  color: black;
}

body .containerAll .header .item .nav .shoppingCart {
  margin-right: -8px;
}

body .containerAll .header .item .nav .container {
  width: 36%;
  padding-left: 0px;
}

body .containerAll .header .item .nav .container a {
  display: inline-block;
  text-decoration: none;
}

body .containerAll .header .item .nav .container a:hover {
  text-decoration: none;
}

body .containerAll .header .item .nav .container .position-relative {
  position: relative;
}

body .containerAll .header .item .nav .container .position-absolute {
  position: absolute;
}

body .containerAll .header .item .nav .container .cartQuantity {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -9px;
  top: -8px;
}

body .containerAll .header .item .login {
  width: 7%;
}

body .containerAll .header .item .login .fas {
  font-size: 25px;
  top: -1em;
  margin-top: 50px;
}

body .containerAll .header .item .logout {
  width: 7%;
}

body .containerAll .header .item .logout .fas {
  font-size: 25px;
  margin-top: 3px;
}

body .containerAll .all {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body .containerAll .all .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #A39797;
}

body .containerAll .all .body .container {
  width: 80%;
  padding: 20px;
}

body .containerAll .all .body .container h2 {
  width: 100%;
  color: #F9ECE4;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

body .containerAll .all .body .container .row100 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

body .containerAll .all .body .container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .containerAll .all .body .container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #F9ECE4;
}

body .containerAll .all .body .container .row100 .inputBox input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #DFBFB2;
}

body .containerAll .all .body .container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

body .containerAll .all .body .container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #F9ECE4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

body .containerAll .all .body .container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #DFBFB2;
}

body .containerAll .all .body .container .row100 .inputBox input:focus + .text, body .containerAll .all .body .container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

body .containerAll .all .body .container .row100 .inputBox input:focus ~ .line, body .containerAll .all .body .container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

body .containerAll .all .body .container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

body .containerAll .all .body .container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

body .containerAll .all .body .container .row100 .inputBox textarea:focus + .text, body .containerAll .all .body .container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

body .containerAll .all .body .container .row100 .inputBox textarea:focus ~ .line, body .containerAll .all .body .container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

body .containerAll .all .body .container .row100 input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #F9ECE4;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

body .containerAll .footer {
  background-color: #F5DEB8;
  height: 230px;
  position: relative;
  margin-top: -4px;
}

body .containerAll .footer .logo {
  width: 50%;
}

body .containerAll .footer .logo img {
  width: 20%;
  margin-top: 20px;
  margin-left: 15px;
  float: left;
}

body .containerAll .footer .logo .logoWord {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 80px;
  float: left;
  text-align: center;
}

body .containerAll .footer .footerItem {
  position: absolute;
  left: 10px;
  top: 115px;
}

body .containerAll .footer .footerItem div {
  display: inline-block;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 550;
  margin-left: 50px;
  color: black;
}

body .containerAll .footer .footerItem:last-of-type {
  margin-left: 20px;
}

body .containerAll .footer .footerOpen {
  float: right;
  margin-top: 65px;
  text-align: center;
}

body .containerAll .footer .footerOpen div {
  display: inline-block;
  font-size: 22px;
  font-family: "Noto Sans TC", sans-serif;
  margin-top: 15px;
  margin-right: 140px;
  color: black;
}

body .containerAll .footer .footerCopyRight {
  text-align: center;
  position: absolute;
  bottom: 70px;
  right: calc(50% - 230px);
}

body .containerAll .footer .footerCopyRight div {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: black;
}

body .containerAll .footer .footerMountain {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 230px);
}

body .containerAll .footer .footerMountain img {
  width: 465px;
}

body .containerAll .scroll-top {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: rgba(105, 105, 105, 0.5);
  color: white;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  /* 永遠固定在頁面上 */
  position: fixed;
  right: 55px;
  bottom: 34px;
}

body .modal .modal-dialog .modal-content {
  background-color: #8592A2;
}

body .modal .modal-dialog .modal-content .modal-header h3 {
  font-size: 33px;
  color: black;
  position: absolute;
  /* 置中 */
  top: 6%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .modal .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 25px;
  font-family: "Noto Sans TC", sans-serif;
}

body .modal .modal-dialog .modal-content .modal-body form .form-group-checkbox {
  float: right;
  padding-right: 30px;
}

body .modal .modal-dialog .modal-content .modal-body form .form-group-checkbox .remember {
  margin-bottom: 20px;
}

body .modal .modal-dialog .modal-content .modal-body form .btn {
  width: 100%;
  font-size: 25px;
  color: white;
}

body .modal .modal-dialog .modal-content .modal-body form .btn-secondary {
  color: white;
  background-color: #EBC2C0;
  border-color: #EBC2C0;
}

body .modal .modal-dialog .modal-content .modal-body form .btn-secondary:hover, body .modal .modal-dialog .modal-content .modal-body form .btn-secondary:focus, body .modal .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}

body .modal .modal-dialog .modal-content {
  background-color: #8592A2;
}

body .modal .modal-dialog .modal-content .modal-header h4 {
  font-size: 33px;
  color: black;
  position: absolute;
  /* 置中 */
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .modal .modal-dialog .modal-content .modal-body form {
  /* .form-group-checkbox{
                            float: right;
                            padding-right: 30px;
                            .remember {
                            margin-bottom: 20px;
                            }
                        } */
}

body .modal .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 25px;
  font-family: "Noto Sans TC", sans-serif;
}

body .modal .modal-dialog .modal-content .modal-body form .btn {
  width: 100%;
  font-size: 25px;
  color: white;
}

body .modal .modal-dialog .modal-content .modal-body form .btn-secondary {
  color: white;
  background-color: #EBC2C0;
  border-color: #EBC2C0;
}

body .modal .modal-dialog .modal-content .modal-body form .btn-secondary:hover, body .modal .modal-dialog .modal-content .modal-body form .btn-secondary:focus, body .modal .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}

.clearfix {
  clear: both;
}
/*# sourceMappingURL=contactUs.css.map */