.container-fluid .row .table {
  height: 750px;
  width: 18%;
  background-color: bisque;
  margin-bottom: 0px;
  display: inline-block;
}

.container-fluid .row .table .title {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
}

.container-fluid .row .table .category {
  padding-top: 30px;
}

.container-fluid .row .table .category .employee {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.container-fluid .row .table .category .product {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.container-fluid .row .table .category .order {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .reserve {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .message {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .backend {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.container-fluid .row .table .logout {
  padding-top: 20%;
  padding-left: 35%;
}

.container-fluid .row .table .logout .btn {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.container-fluid .row .content {
  width: 82%;
  display: inline-block;
  padding-top: 1%;
}

.container-fluid .row .content .month {
  width: 25%;
  height: 14%;
  display: inline-block;
  text-align:center;
  color:#ff0080;
  background-color:#ffeaf4;
  font-weight:bold;
  margin-bottom:35px;
}

.container-fluid .row .content .month .card-body {
  display: inline-block;
}

.container-fluid .row .content .month .card-body h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff0080;
  font-weight:bold;
}

.container-fluid .row .content .month .card-body .card-text {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-fluid .row .content .year {
  width: 25%;
  height: 14%;
  display: inline-block;
  text-align:center;
  color:green;
  background-color:#e7f3f3;
  font-weight:bold;
}
.container-fluid .row .content .notyet {
  width: 25%;
  font-size:20px;
  height: 14%;
  display: inline-block;
  text-align:center;
  color:#ff0000;
  background-color:#ffff80;
  font-weight:bold;
}
/* .container-fluid .row .content .notyet { */
/*   width: 25%; */
/*   font-size:20px; */
/*   height: 14%; */
/*   display: inline-block; */
/*   text-align:center; */
/*   color:#400000; */
/*   background-color:#f5eded */
/* } */

.container-fluid .row .content .year .card-body {
  display: inline-block;
}

.container-fluid .row .content .year .card-body h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: green;
  font-weight:bold;
}
.container-fluid .row .content .notyet .card-body {
  display: inline-block;
}

.container-fluid .row .content .notyet .card-body h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff0000;
  font-weight:bold;
}

.container-fluid .row .content .year .card-body .card-text {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-fluid .row .content .hour {
  width: 23%;
  height: 14%;
  display: inline-block;
  padding-top: 1%;
  padding-left: 7%;
}

.container-fluid .row .content .hour .card-body {
  display: inline-block;
}

.container-fluid .row .content .hour .card-body h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: pink;
}

.container-fluid .row .content .hour .card-body .progress {
  width: 300%;
  margin-left: -100%;
}

.container-fluid .row .content .feedback {
  width: 24%;
  height: 14%;
  display: inline-block;
  text-align:center;
  color:#5151ff;
  background-color:#f4eaff;
  font-weight:bold;
}

.container-fluid .row .content .feedback .card-body {
  display: inline-block;
}

.container-fluid .row .content .feedback .card-body h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color:#5151ff;
  font-weight:bold;
}

.container-fluid .row .content .feedback .card-body .card-text {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Pic{
	margin-top: 10px; 
	text-align: center;
}
body {
background-color: rgb(255, 249, 247);
}
.detail{
	text-align: center;
	font-size: 40px;
/* 	margin-left: 13%; */
/* 	margin-top: 1%; */
	 
}
.category a {
    text-decoration:none;
     color:#004080;
     font-weight:bold
}

.category a:hover {
text-decoration:none;
background-color:gray;
color:#fafafa;
}
.detail1{
	color:#316262;
	margin-left:30px;
	font-size: 28px;
	text-align: left;
	font-weight:bold;	 
}
/*# sourceMappingURL=homepageIndex.css.map */