.container-fluid .row .table {
  height: 750px;
  width: 18%;
  background-color: bisque;
  margin-bottom: 0px;
  display: inline-block;
}

.container-fluid .row .table .title {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
}

.container-fluid .row .table .category {
  padding-top: 30px;
}

.container-fluid .row .table .category .employee {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.container-fluid .row .table .category .product {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.container-fluid .row .table .category .order {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .reserve {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .message {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 15px;
}
.container-fluid .row .table .category .backend {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 86px;
}

.container-fluid .row .table .logout {
  padding-top: 20%;
  padding-left: 35%;	 
}

.container-fluid .row .table .logout .btn {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.container-fluid .row .content {
  width: 82%;
}

.container-fluid .row .content .search {
  float: right;
}

.container-fluid .row .content table {
  clear: both;
   width:90%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.container-fluid .row .content table thead th {
  padding: 10px;
  background-color:	#ACD6FF;
  text-align: center;
}

.container-fluid .row .content table tbody td {
  padding: 10px;
  text-align: center;
  border-bottom:1px solid #ACD6FF;
}

.container-fluid .row .content table tbody tr:nth-child(odd){
  background: 	#ECF5FF
  
}
.container-fluid .row .content table tbody tr:nth-child(even){
  background: 	#FFFFFF
  
}

.container-fluid .row .content table tbody tr:hover{

background-color: #bddeff;

color: #000000;
  
}

.modal .modal-dialog .modal-content {
  background-color:#EFF4FF;
}
.updateUser .modal-dialog .modal-content {
  background-color:#EFF4FF;
}

.modal .modal-dialog .modal-content .modal-header h4 {
  font-size: 25px;
  color: black;
}
.updateUser .modal-dialog .modal-content .modal-header h4 {
  font-size: 30px;
  color: black;
}
.updateUser .modal-dialog .modal-content .modal-body td {
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: black;
}
.updateUser .modal-dialog .modal-content .modal-body td.td1 {
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: black;
}

.modal .modal-dialog .modal-content .modal-body form {
  /* .form-group-checkbox{
                        float: right;
                        padding-right: 30px;
                        .remember {
                        margin-bottom: 20px;
                        }
                    } */
}

.modal .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 23px;
  font-family: "Noto Sans TC", sans-serif;
}

.modal .modal-dialog .modal-content .modal-body form .btn {
  width: 17%;
  font-size: 20px;
  color: white;
}

.modal .modal-dialog .modal-content .modal-body form .btn-secondary {
  color: white;
  background-color: #EBC2C0;
  border-color: #EBC2C0;
}

.modal .modal-dialog .modal-content .modal-body form .btn-secondary:hover, .modal .modal-dialog .modal-content .modal-body form .btn-secondary:focus, .modal .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}
.container-fluid .row .content.button.btn btn-secondary {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 1%;
  padding-left: 8%;
}
.container-fluid .row .content .button  {
  
  margin-top: 25px;
  padding-bottom: 0.7%;
  padding-left: 5%;
}
.totalitems{
	padding-left:8%;
	margin-top:4%;
	font-size: 20px;
	color:#003D79;
}

.totalitems1{
	font-size: 20px;
	color: red;
}
.totalitemsNumber{
	font-size: 20px;
	color: red;
}
.Pic{
	margin-top: 10px; 
	text-align: center;
}
body {
background-color: rgb(255, 249, 247);
}
.detail{
	text-align: center;
	font-size: 40px;
	 margin-left: 17%;
	margin-top: 2%;
}
.homebutton{
	text-align: center;
	margin-right: 3%;
}
.category a {
    text-decoration:none;
     color:#004080;
     font-weight:bold
}

.category a:hover {
text-decoration:none;
background-color:gray;
color:#fafafa;
}

.password {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.message{
	font-size:18px;
	margin-top: 15px; 
	margin-bottom: 15px; 

	word-break: break-all;
}
.m1{
	font-size:18px;
	margin-top: 15px; 
	margin-bottom: 15px; 
	padding-left: 30px; 
	
}
/*# sourceMappingURL=homepageEmployee.css.map */