.container-fluid .row .table {
  height: 750px;
  width: 18%;
  background-color: bisque;
  margin-bottom: 0px;
  display: inline-block;
}

.container-fluid .row .table .title {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
}

.container-fluid .row .table .category {
  padding-top: 30px;
}

.container-fluid .row .table .category .employee {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.container-fluid .row .table .category .product {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.container-fluid .row .table .category .order {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .reserve {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .message {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .backend {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.container-fluid .row .table .logout {
  padding-top: 20%;
  padding-left: 35%;	 
}

.container-fluid .row .table .logout .btn {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.container-fluid .row .content {
  width: 82%;
}

.container-fluid .row .content .search {
  float: right;
}

.container-fluid .row .content .button {
  padding-top: 1%;
  padding-bottom:1%;
  padding-left: 14%;
}

.container-fluid .row .content table {
  clear: both;
  width:72%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid .row .content table thead th {
  padding: 10px;
  background-color: #96D4D4;
  text-align: center;
}

.container-fluid .row .content table tbody td {
  padding: 10px;
  text-align: center;
  border-bottom:1px solid #96D4D4;
}

.container-fluid .row .content table tbody  tr:nth-child(odd){
  background: 	#F0FFFF
  
}
.container-fluid .row .content table tbody  tr:nth-child(even){
  background: 	#FFFFFF
  
}

.container-fluid .row .content table tbody tr:hover{

background-color: #bddfdf;

color: #000000;
  
}

.container-fluid .row .content table tbody td:nth-child(3) {
  width: 12%;
}

.container-fluid .row .content table tbody img {
  width: 37%;
}

.checkCompleteOrder {
  width: 37%;
}

.detail .modal-dialog .modal-content {
  background-color: #8E9BAE;
}

.detail .modal-dialog .modal-content .modal-body table {
  width: 95%;
}

.detail .modal-dialog .modal-content .modal-body table th {
  text-align: center;
}

.detail .modal-dialog .modal-content .modal-body table td {
  text-align: center;
}
.totalitems{
	padding-left:17%;
	margin-top:4%;
/* 	margin-left: 5%; */
	font-size: 20px;
	color:#003D79;
}
.totalitems1{
	font-size: 20px;
	color: red;
}
.totalitemsNumber{
	font-size: 20px;
	color: 	#FF2D2D;
}
.Pic{
	margin-top: 10px; 
	text-align: center;
}
body {
background-color: rgb(255, 249, 247);
}
.detail{
	text-align: center;
	font-size: 40px;
	margin-left: 18%;
	margin-top: 3%;
	 
}
.homebutton{
	text-align: center;
	margin-right: 2%;
}
.category a {
    text-decoration:none;
     color:#004080;
     font-weight:bold
}

.category a:hover {
text-decoration:none;
background-color:gray;
color:#fafafa;
}

/*# sourceMappingURL=homepageOrder.css.map */