.container-fluid .row .table {
  height: 770px;
  width: 18%;
  background-color: bisque;
  margin-bottom: 0px;
  display: inline-block;
}

.container-fluid .row .table .title {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
}

.container-fluid .row .table .category {
  padding-top: 30px;
}

.container-fluid .row .table .category .employee {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.container-fluid .row .table .category .product {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.container-fluid .row .table .category .order {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .message {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
.container-fluid .row .table .category .backend {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 160px;
}

.container-fluid .row .table .logout {
  padding-top: 25%;
  padding-left: 35%;	 
}

.container-fluid .row .table .logout .btn {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.container-fluid .row .content {
  width: 82%;
}

.container-fluid .row .content .search {
  float: right;
}

.container-fluid .row .content .button {
  padding-top: 0%;
  padding-bottom: 1%;
}

.container-fluid .row .content table {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid .row .content table thead th {
  padding: 10px;
  background-color: #96D4D4;
  text-align: center;
}

.container-fluid .row .content table tbody td {
  padding: 10px;
  text-align: center;
  border-bottom:1px solid #96D4D4;
  
}
.container-fluid .row .content table tbody  tr:nth-child(odd){
  background: 	#F0FFFF
  
}
.container-fluid .row .content table tbody  tr:nth-child(even){
  background: 	#FFFFFF
  
}
.container-fluid .row .content table tbody tr:hover{

background-color: #bddfdf;

color: #000000;
  
}
/* .container-fluid .row .content table tbody  tr:nth-child(even){ */
/*    background: #EBEBFF */
  
/* } */

.container-fluid .row .content table tbody td:nth-child(3) {
  width: 12%;
}

.container-fluid .row .content table tbody img {
  width: 50%;
}

.updateProduct .modal-dialog .modal-content {
  background-color:	#F1FDFD;
}

.deleteProduct .modal-dialog .modal-content {
  background-color:#FBFCFF;
}

.updateProduct .modal-dialog .modal-content .modal-header h4 {
  font-size: 23px;
  color: black;
}
.updateProduct .modal-dialog .modal-content .modal-body td {
  font-size: 18px;
  color: black;
}


.updateProduct .modal-dialog .modal-content .modal-body form {
  
  /* .form-group-checkbox{
                        float: right;
                        padding-right: 30px;
                        .remember {
                        margin-bottom: 20px;
                        }
                    } */
}

.updateProduct .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 23px;
  font-family: "Noto Sans TC", sans-serif;
}

.updateProduct .modal-dialog .modal-content .modal-body form .btn {
  width: 17%;
  font-size: 20px;
  color: white;
}

.updateProduct .modal-dialog .modal-content .modal-body form .btn-secondary {
/*   color: white; 
  background-color: #EBC2C0;
  border-color: #EBC2C0;*/
}

.updateProduct .modal-dialog .modal-content .modal-body form .btn-secondary:hover, .updateProduct .modal-dialog .modal-content .modal-body form .btn-secondary:focus, .updateProduct .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}

.createCategory .modal-dialog .modal-content {
  background-color: rgb(221, 238, 255);
}


.createCategory .modal-dialog .modal-content .modal-header h4 {
  font-size: 25px;
  color: black;
}

.createCategory .modal-dialog .modal-content .modal-body form {
  /* .form-group-checkbox{
                        float: right;
                        padding-right: 30px;
                        .remember {
                        margin-bottom: 20px;
                        }
                    } */
}

.createCategory .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 23px;
  font-family: "Noto Sans TC", sans-serif;
}

.createCategory .modal-dialog .modal-content .modal-body form .btn {
  width: 17%;
  font-size: 20px;
  color: white;
}

.createCategory .modal-dialog .modal-content .modal-body form .btn-secondary {
  color: white;
  background-color: #EBC2C0;
  border-color: #EBC2C0;
}

.createCategory .modal-dialog .modal-content .modal-body form .btn-secondary:hover, .createCategory .modal-dialog .modal-content .modal-body form .btn-secondary:focus, .createCategory .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}

.updateCategory .modal-dialog .modal-content {
  background-color: rgb(0, 128, 255);
}

.updateCategory .modal-dialog .modal-content .modal-header h4 {
  font-size: 25px;
  color: black;
}

.updateCategory .modal-dialog .modal-content .modal-body form {
  /* .form-group-checkbox{
                        float: right;
                        padding-right: 30px;
                        .remember {
                        margin-bottom: 20px;
                        }
                    } */
}

.updateCategory .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 23px;
  font-family: "Noto Sans TC", sans-serif;
}

.updateCategory .modal-dialog .modal-content .modal-body form .btn {
  width: 17%;
  font-size: 20px;
  color: white;
}

.updateCategory .modal-dialog .modal-content .modal-body form .btn-secondary {
  color: white;
  background-color: #EBC2C0;
  border-color: #EBC2C0;
}

.updateCategory .modal-dialog .modal-content .modal-body form .btn-secondary:hover, .updateCategory .modal-dialog .modal-content .modal-body form .btn-secondary:focus, .updateCategory .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}

.createProduct .modal-dialog .modal-content {
  background-color: #8E9BAE;
}

.createProduct .modal-dialog .modal-content .modal-header h4 {
  font-size: 25px;
  color: black;
}

.createProduct .modal-dialog .modal-content .modal-body form {
  /* .form-group-checkbox{
                        float: right;
                        padding-right: 30px;
                        .remember {
                        margin-bottom: 20px;
                        }
                    } */
}

.createProduct .modal-dialog .modal-content .modal-body form .mb-3 .form-label {
  font-size: 23px;
  font-family: "Noto Sans TC", sans-serif;
}

.createProduct .modal-dialog .modal-content .modal-body form .mb-3 .btn {
  width: 30%;
}

.createProduct .modal-dialog .modal-content .modal-body form .btn {
  width: 17%;
  font-size: 20px;
  color: white;
}

.createProduct .modal-dialog .modal-content .modal-body form .btn-secondary {
  color: white;
  background-color: #EBC2C0;
  border-color: #EBC2C0;
}

.createProduct .modal-dialog .modal-content .modal-body form .btn-secondary:hover, .createProduct .modal-dialog .modal-content .modal-body form .btn-secondary:focus, .createProduct .modal-dialog .modal-content .modal-body form .btn-secondary:active:hover {
  color: #fff;
  background-color: #F4BAAF;
  border-color: #F4BAAF;
}
.totalitems{
	padding-left:3.5%;
	margin-top:4%;
/* 	margin-left: 5%; */
	font-size: 20px;
	color:#003D79;
}
.totalitems1{
	font-size: 20px;
	color: red;
}
.totalitemsNumber{
	font-size: 20px;
	color: 	#FF2D2D;
}
.container-fluid .row .content .button2  {
  
  margin-top: 1%;
  padding-bottom: 1%;
  padding-left: 22%;
}
.container-fluid .row .content .home  {
  text-align: center;
  margin-top: 3%;
  padding-bottom: 1%;
  
}
.Pic{
	margin-top: 10px; 
	text-align: center;
}
body {
background-color: rgb(255, 249, 247);
}
.detail{
	text-align: center;
	font-size: 40px;
	margin-top: 1%; 
}
.category a {
    text-decoration:none;
     color:#004080;
     font-weight:bold
}

.category a:hover {
text-decoration:none;
background-color:gray;
color:#fafafa;
}

/*# sourceMappingURL=homepageProduct.css.map */