$myFontContent: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$myFontTitle: 'DFKai-sb', serif;
$myFontTitleChange: 'Noto Sans TC', sans-serif;
.container-fluid{
    .row{
        //display: inline-block;
        .table{
        height: 689px;
        width: 18%;
        background-color: bisque;
        margin-bottom: 0px;
        display:inline-block;
            .title{
                //display:inline-block;
                //display:inline-block;
                font-size: 30px;
                font-family: $myFontContent;
                text-align: center;
                font-weight: bolder;
                padding-top: 40px;
                //height: 100%;
            }
            .category{
                //display:inline-block;
                padding-top: 90px;
                .employee{
                    //display:inline-block;
                    font-size: 20px;
                    font-family: $myFontContent;
                    text-align: center;
                    //padding-top: 30px;
                    //font-weight: bolder;
                }
                .product{
                    //display:inline-block;
                    font-size: 20px;
                    font-family: $myFontContent;
                    text-align: center;
                    padding-top: 30px;
                    //font-weight: bolder;
                }
                .order{
                    //display:inline-block;
                    font-size: 20px;
                    font-family: $myFontContent;
                    text-align: center;
                    padding-top: 30px;
                    //font-weight: bolder;

                }
            }
            .logout{
                //display:inline-block;
                padding-top: 126%;
                padding-left: 33%;
                //padding-bottom: 3px;
                button{
                    //display:inline-block;
                    //padding-top: 30px;
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    color: white;
                }
            }
        }
        .content{
            width: 82%;
            .search{
                float: right;
            }
            .button{
                padding-top: 8%;
                padding-bottom: 1%;
                padding-left: 20%;
            }
            table{
                clear: both;
                margin-left:auto; 
                margin-right:auto;
                thead{
                    th{
                        padding: 10px;
                        background-color: #96D4D4;
                        //align-items: center;
                        text-align: center;
                    }
                }
                tbody{
                    td{
                        padding: 10px;
                        text-align: center;
                    }
                    td:nth-child(3){
                        width: 12%;
                    }
                    img{
                        width: 37%;
                    }
                }
            }
        }
    }
}
.checkCompleteOrder {
    width: 37%;
}
.detail {
    .modal-dialog{
        .modal-content {
            //background-color: #8592A2;
            background-color:#8E9BAE;   
            .modal-body{
                table{
                    width: 95%;
                    th{
                        text-align: center;
                    }
                    td{
                        text-align: center;
                    }
                }
            }
        }
    }
}

