body {
  margin: 0;
  background-image: url("../images/homeBackground.jpg");
}

.menu-outline .img img {
  width: 100%;
}

.container > div {
  border: 1px solid black;
  padding: 10px;
  float: left;
  margin: 10px;
  width: calc(50% - 20px);
  border-radius: 20px;
  height: 500px;
  .day-block{
    border: 1px solid black;
    display: inline-block;
    width: calc(14% - 20px);
    margin: 10px ;
    height: 60px;
    text-align: center;
  }
}

.infomation-input {
  height: 80px;
  margin: 5px 0;
}

.calendar {
  h1 {
    text-align: center;
  }
  .calendar-title{
    div{
      text-align: center;
      display: inline-block;
      width: calc(14% - 20px);
      margin: 0 10px ;
    }
  }
}
